<div class="contactBox" id="contactBox">
  <img class="logo" src="../assets/images/eicon1.png" />
  <div class="ct">
  	<ul class="iconBox">
  	  <li>
  	    <a href="">
  	      WeChat
  	    </a>
  	  </li>
  	  <li>
  	    <a href="">
  	      Email
  	    </a>
  	  </li>
  	  <li>
  	    <a href="">
  	      Telegram
  	    </a>
  	  </li>
  	  <li class="airportIcon">
  	    <!--<img class="airportQrcode" src="../assets/images/commendus.jpeg" alt=""></li>-->
  	    Twitter
  	  <li>
  	    <a href="">
  	      Medium
  	    </a>
  	  </li>
  	  <li>
  	    <a href="">
  	      Discord
  	    </a>
  	  </li>
  	</ul>
  	<div class="footerText ">©InWeCrypto 2018</div>
  </div>
</div>