<div class="contactBox" id="contactBox">
  <img class="logo" src="../assets/images/eicon1.png" />
  <div class="ct">
  	<ul class="iconBox">
  	  <li class="airportIcon">
					WeChat
					<img class="airportQrcode" src="../assets/images/commendus.jpeg" alt="">
  	  </li>
  	  <li>
  	    <a href="mailto:support@inwecrypto.com">
  	      Email
  	    </a>
  	  </li>
  	  <li>
  	    <a href="https://t.me/inwecrypto">
  	      Telegram
  	    </a>
  	  </li>
  	  <li class="airportIcon">
				<a href=" https://twitter.com/inwe_crypto">Twitter</a>
  	  <li>
  	    <a href="https://t.me/inwecrypto">
  	      Medium
  	    </a>
  	  </li>
  	  <li>
  	    <a href="https://discord.gg/afbXyfX">
  	      Discord
  	    </a>
  	  </li>
  	</ul>
  	<div class="footerText ">©InWeCrypto 2018</div>
  </div>
</div>