<div class="navBox">
  <div class="eleft">
    <div class="logobox">
      <img src="../assets/images/eicon1.png" alt="">
    </div>
    <div class="logotextbox">
			<img class="white" src="../assets/images/eInWeCrypto-logo.png" alt="">
    	<img class="black" src="../assets/images/logo_Navigationbar.png" alt="">
		</div>
  </div>
  
  <div class="eright mView">
  	<span class="openMenu">
  		<img src="../assets/images/menu.png" />
  	</span>
    <div class="sub">
    	<span class="closeMenu">
    		<img src="../assets/images/sub_close.png"/>
    	</span>
    	<ul>
    		<li><a href="../zh/index.html">主页</a></li>
    		<li><a href="../zh/index.html">下载</a></li>
    		<li><a href="../zh/index.html">English</a></li>
    		<li><a href="../en/index.html">中文</a></li>
    	</ul>
    </div>
  </div>
  
  <div class="eright pcView">
    <div class="active">主页</div>
    <div>下载</div>
    <div>联系我们</div>
    <div class="langChange">语言
      <span class="langBox">
        <p onClick="location.href='../zh/index.html'">ENGLISH</p>
        <p onClick="location.href='../en/index.html'">中文</p>
      </span>
    </div>
  </div>
</div>