body {
    padding: 0 !important;
}
.globalFooter .contactBox{
    min-width: 754px;
}
.content {
   width: 100%;
   height: 100%;
   padding-bottom: 100px;
}
.content .page{
    margin: 1.38rem 5.74rem 0 5.7rem;
    font-family: "PingFangSC-Regular";
}
.content .page img{
    margin: .44rem auto .43rem auto;
    max-width: 100%;
}
.content .page .title{
    height: auto;
    font-size: .24rem;
    font-family: "PingFangSC-Regular";
    color:#333333;
    line-height: .36rem;
}
.content .page .box{
    margin-top: .17rem;
    height: .2rem;
    font-size: .16rem;
    font-family: "PingFangSC-Regular";
    color:#959595;
    line-height: .2rem;
}
.content .page .box .flag{
    margin-left: .15rem;
    padding: .03rem .06rem;
    color: #EB6106;
    border: 1px solid #EB6106;
    border-radius: 4px;
}
.content .page .box .right{
    line-height: .2rem;
    height: 0.2rem;
}
.content .page .box .right a{
    display: inline-block;
    margin-right: 0.13rem;
    cursor: pointer;
}
.content .page .box .right a.weiboIcon:hover{
    background: url("../images/detail/web.png") no-repeat center center;
    background-size: .15rem .15rem;
}
.content .page .box .right a.airportIcon:hover{
    background: url("../images/detail/telegram.png") no-repeat center center;
}
.content .page .box .right a.twitterIcon:hover{
    background: url("../images/detail/Twitter.png") no-repeat center center;
    background-size: .15rem .15rem;
}
.content .page .box .right a.qqIcon:hover{
    background: url("../images/detail/qq.png") no-repeat center center;
    background-size: .14rem .15rem;
}
.content .page .box .right a.weixinIcon:hover{
    background: url("../images/detail/wechat.png") no-repeat center center;
}
.content .page .box .right a.weiboIcon{
    width: .27rem;
    height: .2rem;
    background: url("../images/detail/web5.png") no-repeat center center;
    background-size: .15rem .13rem;
}
.content .page .box .right a.airportIcon{
    width: .25rem;
    height: .2rem;
    background: url("../images/detail/telegram5.png") no-repeat center center;
    background-size: .15rem .12rem;
}
.content .page .box .right a.twitterIcon{
    width: .25rem;
    height: .2rem;
    background: url("../images/detail/Twitter5.png") no-repeat center center;
    background-size: .15rem .12rem;
}
.content .page .box .right a.qqIcon{
    width: .25rem;
    height: .2rem;
    background: url("../images/detail/qq5.png") no-repeat center center;
    background-size: .11rem .14rem;
}
.content .page .box .right a.weixinIcon{
    width: .25rem;
    height: .2rem;
    background: url("../images/detail/wechat5.png") no-repeat center center;
    background-size: .25rem .2rem;
}
.content .page .article{
    margin: 0;
    word-break: break-word;
    height: auto;
    font-size: 26px;
    font-weight: normal;
}
.content .page .article p{
    margin: .18rem 0;
    font-size: .16rem;
    line-height: .44rem;
    height: auto;
    font-family: "PingFangSC-Regular";
}
.content footer{
    margin: .99rem 5.74rem 0rem 5.7rem;
    min-width: 316px;
}
.content footer p{
    color: #009857;
    line-height: .36rem;
    height: .36rem;
    font-size: .16rem;
    font-family: "PingFangSC-Regular";
}
.content .btn-box{
    margin-top: .65rem;
}
.content .btn-box .btn{
    margin-left: .3rem;
    display: inline-block;
    padding: .09rem .29rem;
    background-color: #009857;
    color: #FFF;
    border: 1px solid #009857;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'PingFangSC-Regular';
}
.content .btn-box .btn:hover{
    background-color: #FFF;
    color: #009857;
}
.content .headerBox .navBox{
    position: fixed;
    z-index: 10;
}
.content .headerBox .navBox .eright .langChange .langBox p{
    color: #000;
}
.content .headerBox .navBox .eright .langChange .langBox p.active{
    color: #009857;
}

.content .headerBox .navBox.green{
    background-color: #009857;
}
.content .headerBox .navBox.green .eright{
    color: #FFF;
}
.content .headerBox .navBox.green .eright>div:hover{
    color: #FFF;
}
.content .headerBox .navBox.green .eleft div{
    display: none;
}
.content .headerBox .navBox.green .eleft{
    width:2.42rem;
    color: #FFF;
    background: url('../images/detail/logo_Navigation_bar.png') no-repeat left center;
    background-size: 2.42rem .42rem;
}
.content .footer{
    width: 100%;
    background-color: #F9F9F9;
}
.mobile .content .page{
    margin: 1.57rem .43rem 0rem 0.5rem;
    font-size: 26px;
}

.mobile .content footer {
    margin: 0;
    width: 100%;
    padding: 0 0.5rem 0 0.45rem;
    box-sizing: border-box;
}
.mobile .content .page .title{
    font-size: .4rem;
    font-family: "PingFang SC";
    font-weight: normal;
    line-height: .48rem;
    height: auto;
}
.mobile .content .page .box{
    margin-top: .28rem;
}
.page-index	.headerBox .navBox {
    margin: 0;
    position: fixed;
}
.page-index	.headerBox .navBox .eleft{
    position: absolute;
    left: 0;
    top: 0;
}
.page-index	.headerBox .navBox .eright{
    position: absolute;
    right: 0;
    top: 0;
}

.page-index	.headerBox .navBox.active .eleft .logobox{
	display: block;
}
.page-index	.headerBox .navBox.active .eleft .logotextbox .black{
	display: block;
}
.page-index	.headerBox .navBox{
	justify-content: space-between;
}
.page-index	.headerBox .navBox.active{
	justify-content: space-between;
}
.page-index	.headerBox .navBox input.search {
  width: 4.45rem;
  height: 0.48rem;
  background: rgba(255,255,255,1);
  border: solid 1px #D2D2D2;
  margin-left: 0.2rem;
  padding: 0 0.1rem;
  outline:none;
  box-sizing: border-box;
  display: none;
}
.page-index	.headerBox .navBox.active input.search{
	display: block;
/*	animation: searchInput 0.5s ease-in-out;*/
}
@keyframes searchInput {
	0% {opacity: 0;height: 0;}
	100% {opacity: 1;height: 0.48rem}
}
.page-index	.headerBox .navBox input.search:focus{
	border: solid 1px #EB6106;
}
.cont .keyWords{
	display: block;
}