body {
    padding: 0 !important;
  }
  .e-hugeDownIosBox {
    position: relative;
    margin: 0 ;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    color: #333;
  }
  .e-hugeDownIosBox img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .e-hugeDownIosBox .imgCover1 {
    position: absolute;
    right: 0;
    top: 2.9rem;
    z-index: 10;
    width: 3.42rem;
  }
  .e-hugeDownIosBox .headerBox {
    width: 100%;
    background: #F7F7F7;
    overflow: hidden;
  }
  .e-hugeDownIosBox .headerBox .navBox{
  	background: #f7f7f7;
  }
  /*.e-hugeDownIosBox .headerBox .navBox {
    margin-top: .22rem;
    height: .5rem;
    display: flex;
    justify-content: space-between;
  }
  .e-hugeDownIosBox .headerBox .navBox .eleft {
    display: flex;
    align-items: flex-end;
    margin-left: 2.11rem;
    cursor: pointer;
  }
  .e-hugeDownIosBox .headerBox .navBox .eleft .logobox {
    width: .5rem;
    height: .5rem;
  }
  .e-hugeDownIosBox .headerBox .navBox .eleft .logotextbox {
    margin-left: .22rem;
    font-size: .28rem;
    color: #333;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright {
    display: flex;
    align-items: flex-end;
    margin-right: 2.19rem;
    font-size: .2rem;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright div {
    margin-left: .66rem;
    cursor: pointer;
    font-family: "beatles";
    letter-spacing: .15em;
    font-weight: 200;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright div.langChange {
    position: relative;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright div.langChange .langBox {
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright div.langChange .langBox p {
    margin-top: .06rem;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright div.langChange .langBox p:hover {
    color: #008f2e;
  }
  .e-hugeDownIosBox .headerBox .navBox .eright div.langChange:hover .langBox {
    display: block;
  }*/
  .e-hugeDownIosBox .headerBox .mess1 {
    margin-top: 1.72rem;
    text-align: center;
    font-size: .4rem;
    line-height: .4rem;
    font-weight: 200;
  }
  .e-hugeDownIosBox .headerBox .mess2 {
    margin-top: .47rem;
    height: 2.04rem;
  }
  .e-hugeDownIosBox .headerBox .mess3 {
    margin-top: .13rem;
    margin-bottom: .97rem;
    text-align: center;
    font-size: .18rem;
  }
  .e-hugeDownIosBox .downloadBox {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.5rem;
    background: #fff;
  }
  .e-hugeDownIosBox .downloadBox .mobileDownload {
    margin-left: .6rem;
    height: 100%;
  }
  .e-hugeDownIosBox .downloadBox .mobileDownload .mmess1 {
    margin-top: 1.62rem;
    font-size: .4rem;
    font-weight: 200;
  }
  .e-hugeDownIosBox .downloadBox .mobileDownload .mmess2 {
    margin-top: .37rem;
    font-size: .18rem;
    line-height: .42rem;
  }
  .e-hugeDownIosBox .downloadBox .downloadPhoneImg {
    margin-top: .64rem;
    height: 5.12rem;
  }
  .e-hugeDownIosBox .pcDownloadBox {
    position: relative;
    width: 100%;
    height: 5.5rem;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
  }
  .e-hugeDownIosBox .pcDownloadBox .imgCover2 {
    position: absolute;
    left: 0;
    top: -0.67rem;
    z-index: 10;
    width: 4.5rem;
  }
  .e-hugeDownIosBox .pcDownloadBox .imgCover3 {
    position: absolute;
    right: 0;
    top: 3.4rem;
    z-index: 10;
    width: 5.08rem;
  }
  .e-hugeDownIosBox .pcDownloadBox .pcImg {
    margin-top: .64rem;
    margin-left: 1.2rem;
    height: 5.1rem;
  }
  .e-hugeDownIosBox .pcDownloadBox .pcDownload {
    height: 100%;
    margin-left: 2.5rem;
  }
  .e-hugeDownIosBox .pcDownloadBox .pcDownload .mess1 {
    margin-top: 1.79rem;
    font-size: .4rem;
    font-weight: 200;
  }
  .e-hugeDownIosBox .pcDownloadBox .pcDownload .mess2 {
    margin-top: .41rem;
    font-size: .18rem;
    line-height: .42rem;
  }
  .e-hugeDownIosBox #openApp .mmess1 {
    margin-top: 2.27rem;
  }
  .e-hugeDownIosBox #openApp .mmess2 {
    margin-top: .41rem;
  }
  /*.e-hugeDownIosBox .contactBox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
  }
  .e-hugeDownIosBox .contactBox .titlev {
    margin-top: 1.53rem;
    text-align: center;
    font-size: .3rem;
    color: #FF5B26;
  }
  .e-hugeDownIosBox .contactBox .imgBox {
    width: 1.3rem;
    height: 1.3rem;
    margin-top: .25rem;
  }
  .e-hugeDownIosBox .contactBox .iconBox {
    margin-top: .53rem;
    display: flex;
    justify-content: center;
  }
  .e-hugeDownIosBox .contactBox .iconBox li {
    position: relative;
    height: .22rem;
    width: .28rem;
    margin: 0 .2rem;
    cursor: pointer;
  }
  .e-hugeDownIosBox .contactBox .iconBox li.airportIcon .airportQrcode {
    display: none;
    opacity: 0;
    position: absolute;
    top: -1.84rem;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    width: 1.64rem;
    height: 1.64rem;
    box-sizing: border-box;
    padding: .07rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }
  .e-hugeDownIosBox .contactBox .iconBox li.airportIcon:hover .airportQrcode {
    display: block;
    opacity: 1;
  }
  .e-hugeDownIosBox .contactBox .footerText {
    margin-top: .3rem;
    margin-bottom: .24rem;
    text-align: center;
    font-size: .14rem;
  }*/
  .mobile .e-hugeDownIosBox .imgCover1 {
    top: 2.3rem;
  }
  /*.mobile .e-hugeDownIosBox .headerBox .navBox {
    justify-content: center;
  }
  .mobile .e-hugeDownIosBox .headerBox .navBox .eleft {
    margin-left: 0;
  }*/
  .mobile .e-hugeDownIosBox .headerBox .mess1 {
    margin-top: 1.5rem;
  }
  .mobile .e-hugeDownIosBox .headerBox .mess3 {
    margin-bottom: .3rem;
  }
  .mobile .e-hugeDownIosBox .headerBox .downloadIosBtn {
    display: block;
    margin: 0 auto;
    margin-bottom: .6rem;
    width: 1.56rem;
    height: .47rem;
    box-sizing: border-box;
    border-radius: .24rem;
    border: 1px solid #FF5B26;
    color: #FF5B26;
    background: transparent;
    outline: none;
  }
  .mobile .e-hugeDownIosBox .downloadBox {
    height: auto;
    flex-direction: column-reverse;
  }
  .mobile .e-hugeDownIosBox .downloadBox .mobileDownload {
    margin: 0;
    height: auto;
  }
  .mobile .e-hugeDownIosBox .downloadBox .mobileDownload .mmess1 {
    margin-top: .74rem;
    margin-left: .96rem;
  }
  .mobile .e-hugeDownIosBox .downloadBox .mobileDownload .mmess2 {
    margin-left: .96rem;
    font-size: .22rem;
    line-height: .52rem;
    font-weight: 200;
  }
  .mobile .e-hugeDownIosBox .downloadBox .downloadPhoneImg {
    margin-top: 0.1rem;
    position: relative;
    top: .22rem;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox {
    height: auto;
    flex-direction: column;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox .pcDownload {
    height: auto;
    margin-left: 0;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox .pcDownload .mess1 {
    margin-top: .72rem;
    margin-left: .95rem;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox .pcDownload .mess2 {
    margin-left: .95rem;
    font-weight: 200;
    font-size: .22rem;
    line-height: .52rem;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox .pcImg {
    margin: 0;
    margin-top: .3rem;
    position: relative;
    top: .22rem;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox .imgCover3 {
    top: 5.6rem;
    width: 3.25rem;
  }
  .mobile .e-hugeDownIosBox .pcDownloadBox .imgCover2 {
    width: 3.96rem;
    top: 3.1rem;
  }
  .mobile .e-hugeDownIosBox #openApp .mmess1 {
    margin-top: .72rem;
  }
  /*.mobile .e-hugeDownIosBox .contactBox .titlev {
    margin-top: .37rem;
  }*/
  